body {
    color: #444;
    font: 13px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif;
    background-color: #333;
    margin: 150px 0;
}
p {
    margin-top: 0;
    font-family: 'Open Sans', 'trebuchet ms', arial, sans-serif;
}
h3, h5 {
    font-weight: 600;
}
h3{
    font-size: 26px;
}
h5{
    font-size: 18px;
}
#login-container {
    position: relative;
    width: 90%;
    margin: auto auto;
    text-align: center;
}
#login-container #logo {
    position: absolute;
    top: -65px;
    left: 50%;
    z-index: 100;
    width: 200px;
    height: 100px;
    margin-left: -100px;
}
#login-container #logo-back {
    position: absolute;
    top: -80px;
    left: 50%;
    z-index: 100;
    width: 150px;
    height: 150px;
    margin-left: -75px;
    background-color: #1dabcf;
    border-radius: 100px;
    border: solid 8px #fff;
}
#login {
    position: relative;
    padding: 65px 25px 20px 25px;
    margin-bottom: 1em;
    background-color: #FFF;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
    box-shadow: 3px 3px 8px rgba(2, 2, 3, 0.8);
}
#login #accept-btn #decline-btn {
    padding: 5px 40px;
    font-size: 15px;
}

.permission-group {
    margin: 20px auto;
}
.form-group {
    font-size: 15px;
    margin-bottom: 30px;
}

.form-description {
    font-weight: 800;
    color: #ff0000;
}

.permission-name {
    font-weight: 800;
}

.permission-item {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px auto;
}

@media (min-width: 768px) {
    #login-container {
        width: 450px;
    }
}
